body {
    background-color: #bf2e1a;
    min-width: 425px;
    min-height: 175px;
}

.menu {
    min-width: 550px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.button {
    border: 3px solid #f7a11a;
    border-radius: 3px;
    min-width: 200px;
    height: 35px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
}

.hide-it {
    display: none;
}

.menu>.button {
    background: #e1e1e1;
}

.navigation>.button {
    background: #4b4949;
}