body{
    background-color: green;
}

.container{
    min-width: 550px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.button{
    border: 1px solid red;
    min-width: 200px;
    list-style: none;
    height: 25px;
}